.build/
.build/**
Packages/
*.xcworkspace
xcuserdata/
DerivedData/
.macos.plist
.ios.plist
*.swp
*.swo
.DS_Store

# Demo app generated artifacts
Demo/ToonShaderDemo/ToonShaderDemo.xcodeproj/
Demo/**/.build/
